@charset "UTF-8";

body{
    background-color: rgba(13, 197, 13, 0.63);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
}

h1{
    color: blue;
    text-align: left;
}

h1#principal{
    color: azure;
    text-align: center;
}